.idea
out/
*#
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.swagger.json
*.test
*.swp
*~
.#*
.DS_Store
.env
.vscode/**
*.vscode/!launch.json
coverage.txt
node_modules
swagger.yaml.tmp
tmp-*/
vendor/
gen.sum.tmp
go/cmd/zenlaw/zenlaw
zenlaw.io
*client_secrets.json
*oauth_token.json
deployments/nginx-proxy/volumes
__pycache__
cmd/zenlaw/__debug_bin
go/attachment_files
private_key.pem
public_key.pem
memo.txt
